@page
@model ChicStreetwear.Server.Areas.Identity.Pages.Account.ConfirmEmailModel

<div class="page">
    <div class="page-section">
        <h6 class="page-section-title">
            Thanks for confirm your email
        </h6>
    </div>
</div>


@{
}
