@page
@model ChicStreetwear.Server.Areas.Identity.Pages.Account.RegisterConfirmationModel

<div class="page">
    <div class="page-section">
        <h6 class="page-section-title">
            Thanks for register
        </h6>
    </div>
</div>

@{
}
