@using ChicStreetwear.Server.Pages.Store.Components
@using ChicStreetwear.Server.Pages.Store.State.Layout;
@using ChicStreetwear.Server.Services;

<header id="app-header" class="scrolled">
    <div id="subscribe-alert" class="alert alert-dismissible fade show" role="alert">
        <div class="container-fluid">
            <div class="alert-message">
                <span>Subscribe to our newsletter to receive a 15% discount on your first order.</span>
                <NavLink class="btn btn-link" href="/store">
                    Subscribe now
                </NavLink>
            </div>

            <button class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
    </div>

    <TopNavBar />
</header>


@code {
    [Inject]
    private IJSRuntime _jSRuntime { get; set; } = default!;

    [Inject]
    public CartService CartService { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await CartService.LoadCartFromLocalStorage();
        }
    }
}
