@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("../assets/fonts/roboto-light-webfont.woff2") format("woff2"), url("../assets/fonts/roboto-light-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../assets/fonts/roboto-regular-webfont.woff2") format("woff2"), url("../assets/fonts/roboto-regular-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("../assets/fonts/roboto-medium-webfont.woff2") format("woff2"), url("../assets/fonts/roboto-medium-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("../assets/fonts/roboto-bold-webfont.woff2") format("woff2"), url("../assets/fonts/roboto-bold-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url("../assets/fonts/roboto-black-webfont.woff2") format("woff2"), url("../assets/fonts/roboto-black-webfont.woff") format("woff");
    font-display: swap;
}
